@use '@cloudscape-design/design-tokens' as cs;

.css-grid {
  display: grid;
  column-gap: cs.$space-scaled-xl;
  row-gap: cs.$space-scaled-xl;

  &.grid-no-gutters {
    gap: 0;
  }

  &.grid-variant-text-grid {
    > .item {
      border-inline-start: 1px solid cs.$color-border-divider-default;
      padding-inline: cs.$space-static-l;

      &.first-column {
        border-inline-start: 0;
        padding-inline-start: 0;
      }
    }
  }
}