@use '@cloudscape-design/design-tokens' as cs;

.container {
  display: flex;
  flex-direction: column;
  transition: background-color 0.16s ease-out;
  border-radius: 24px;
  padding: cs.$space-scaled-s;

  &:hover {
    background-color: cs.$color-background-input-disabled;
  }

  .mediaWrapper {
    border-radius: calc(24px - #{cs.$space-scaled-s});
    overflow: hidden;
  }

  .media {
    max-width: 100%;
    display: block;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    background-color: cs.$color-background-input-disabled;
  }

  .titleWrapper {
    padding: cs.$space-scaled-s 0;
    font-family: cs.$font-family-base;
    font-size: cs.$font-size-body-m;
    line-height: cs.$line-height-body-m;
    color: cs.$color-text-body-default;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;
  }
}