@use '@cloudscape-design/design-tokens' as cs;

.container {
  display: flex;
  border: 1px solid cs.$color-border-divider-secondary;
  flex-direction: column;
  transition: all .3s cubic-bezier(0,0,.5,1);
  border-radius: 20px;
  box-shadow: 2px 4px 12px #00000014;
  background-color: cs.$color-background-input-disabled;

  &:hover {
    box-shadow: 2px 4px 16px #00000029;
  }

  .mediaWrapper {
    border-top-left-radius: calc(24px - #{cs.$space-scaled-s});
    border-top-right-radius: calc(24px - #{cs.$space-scaled-s});
    overflow: hidden;
  }

  .media {
    max-width: 100%;
    display: block;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    background-color: cs.$color-background-input-disabled;
  }

  .titleWrapper {
    padding: cs.$space-scaled-m;
    font-family: cs.$font-family-base;
    font-size: cs.$font-size-body-m;
    line-height: cs.$line-height-body-m;
    color: cs.$color-text-body-default;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;
  }
}