@use '@cloudscape-design/design-tokens' as cs;

.tabsWrapper {
  display: flex;
  font-family: cs.$font-family-base;
  line-height: cs.$line-height-body-m;
  font-size: cs.$font-size-body-m;
}
.tabs {
  border: 2px solid cs.$color-border-input-default;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: cs.$space-scaled-xxs;
  flex-wrap: nowrap;
  border-radius: cs.$border-radius-button;
  padding: cs.$space-scaled-xxxs;
}
.tab {
  border: none;
  color: cs.$color-text-button-normal-default;
  border-radius: cs.$border-radius-button;
  cursor: pointer;
  padding: cs.$space-scaled-xxs cs.$space-scaled-m;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: cs.$line-height-body-m;

  &:hover, &:focus {
    background-color: cs.$color-background-button-normal-hover;
    color: cs.$color-text-button-normal-hover;
  }

  &:active {
    background-color: cs.$color-background-button-normal-active;
    color: cs.$color-text-button-normal-active;
  }

  &.active {
    background-color: cs.$color-background-segment-active;
    color: cs.$color-text-segment-active;
  }
}