@use '@cloudscape-design/design-tokens' as cs;

$horizontal-input-padding: cs.$space-scaled-s;
$vertical-input-padding: cs.$space-scaled-xxs;

.wrapper {
  position: relative;
  width: 100%;
}
.input {
  // Save room for the focus shadow
  margin-left: 1px;
  background-color: cs.$color-background-input-default;
  border-width: cs.$border-width-field;
  word-break: break-word;
  border-style: solid;
  border-radius: cs.$border-radius-input;
  border-color: cs.$color-border-input-default;
  padding-inline-start: $horizontal-input-padding;
  padding-inline-end: $horizontal-input-padding;
  padding-block-start: $vertical-input-padding;
  padding-block-end: $vertical-input-padding;
  padding: $vertical-input-padding $horizontal-input-padding;
  &::placeholder {
    font-style: italic;
    color: cs.$color-text-input-placeholder;
  }
  &:focus {
    border-color: cs.$color-border-input-focused;
    box-shadow: 0 0 0 1px cs.$color-border-item-focused;
    outline: 2px dotted transparent;
  }
  p {
    margin: 0;
  }
  z-index: 1;
}
.placeholder {
  color: cs.$color-text-input-placeholder;
  font-style: italic;
  position: absolute;
  z-index: 0;
  top: calc(#{$vertical-input-padding} + #{cs.$border-width-field});
  left: calc(#{$horizontal-input-padding} + #{cs.$border-width-field});
}