$xs: 16px;
$s: 24px;
$l: 150px;

.spacer {
  width: 35px;
  height: 35px;
  &.xs {
    width: $xs;
    height: $xs;
  }
  &.s {
    width: $s;
    height: $s;
  }
  &.l {
    width: $l;
    height: $l;
  }
}
.avatar {
  display: inline-block;
  vertical-align: center;
  background-size: cover;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  &.xs {
    border-radius: $xs;
    width: $xs;
    height: $xs;
  }
  &.s {
    border-radius: $s;
    width: $s;
    height: $s;
  }
  &.l {
    border-radius: 12px;
    width: $l;
    height: $l;
  }
}