@use '@cloudscape-design/design-tokens' as cs;

$xxs: 16px;
$xs: 18px;
$s: 28px;
$m: 36px;
$l: 48px;
$xl: 180px;

.avatar {
  border-radius: $m;
  display: block;
  width: $m;
  height: $m;
  &.xxs {
    border-radius: $xxs;
    width: $xxs;
    height: $xxs;
  }
  &.xs {
    border-radius: $xs;
    width: $xs;
    height: $xs;
  }
  &.s {
    border-radius: $s;
    width: $s;
    height: $s;
  }
  &.l {
    border-radius: $l;
    width: $l;
    height: $l;
  }
  &.xl {
    border-radius: $xl;
    width: $xl;
    height: $xl;
  }
}