@use '@cloudscape-design/design-tokens' as cs;

.sticky {
  inset-block-start: 0;
  z-index: 800;
  position: sticky;
  top: 57px;
}

// TODO: De-dupe this from channel detail page
.header {
  display: flex;
  gap: cs.$space-scaled-xxl;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: cs.$space-scaled-xxxl;
  margin-bottom: cs.$space-scaled-xxxl;
}