@use '@cloudscape-design/design-tokens' as cs;

.empty {
  border-radius: cs.$border-radius-container;
  border-width: 1px;
  border-style: solid;
  border-color: cs.$color-border-divider-default;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
}