@use '@cloudscape-design/design-tokens' as cs;

.header {
  display: flex;
  gap: cs.$space-scaled-xxxl;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: cs.$space-scaled-xxxl;
  margin-bottom: cs.$space-scaled-xxxl;
}
.longText {
  max-width: 500px;
}
