@use '@cloudscape-design/design-tokens' as cs;

.spinnerWrapper {
  color: cs.$color-text-status-inactive;
  display: flex;
  justify-content: center;
}
.emptyWrapper {
  padding: cs.$space-scaled-m cs.$space-scaled-l;
  text-align: center;
}