@use '@cloudscape-design/design-tokens' as cs;

$flux-avatar-width: 24px;
$cs-avatar-width: 28px;
$bubble-horizontal-padding: 10px;
$top-nav-height: 58px;
$footer-height: 0px;
$drawer-header-height: 62px;
$drawer-footer-height: 57px;

.username {
  padding-right: cs.$space-scaled-xxs;
}
.replyAvatar {
  padding: 0 5px;
  opacity: 0.56;
}
.message {
  max-width: fit-content;
  word-break: break-word;
  padding: cs.$space-scaled-xxs $bubble-horizontal-padding;
  border-radius: cs.$border-radius-alert;
  background-color: cs.$color-background-button-primary-disabled;
}
.wrapper {
  padding: 5px 0;
}
.clickable {
  cursor: pointer;
}
.messageWrapper {
  display: flex;
  flex-wrap: nowrap;
}
.replyConnector {
  position: absolute;
  box-sizing: border-box;
  // Half the size of the xs avatar
  top: 8px;
  right: 100%;
  bottom: 0;
  left: calc(-1 * (#{$cs-avatar-width}/2 + #{cs.$space-scaled-xs}));
  margin: -1px 2px 2px -1px;
  border-color: cs.$color-border-divider-default;
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-top-left-radius: 12px;
}
.collapse {
  display: none;
  line-height: 0;
}
.newReplyConnectorWrapper {
  position: relative;
}
.newReplyConnector {
  display: block;
  content: " ";
  position: absolute;
  box-sizing: border-box;
  top: -10px;
  right: 14px;
  // Height of s avatar plus 4 more pixels
  bottom: 32px;
  left: 14px;
  margin: 2px 2px 2px -1px;
  border-color: cs.$color-border-divider-default;
  border-width: 0 0 0 2px;
  border-radius: 4px;
  border-style: solid;
}
.replyWrapper {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: end;
  margin-top: cs.$space-scaled-m;
  margin-bottom: cs.$space-scaled-s;
  gap: cs.$space-scaled-xs;
  // Align with start of message (width of avatar plus flex gap)
  //margin-left: calc(#{cs.$space-scaled-xs} + #{$cs-avatar-width});
}
.chatterName {
  color: cs.$color-text-status-inactive;
  line-height: cs.$line-height-body-s;
  font-size: cs.$font-size-body-s;
  margin-left: $bubble-horizontal-padding;
  margin-bottom: cs.$space-scaled-xxxs;
}
.replyTextWrapper {
  border-radius: cs.$border-radius-alert;
  border: 1px solid cs.$color-border-divider-default;
  padding: cs.$space-scaled-xxxs $bubble-horizontal-padding;
  word-break: break-word;
  font-size: cs.$font-size-body-s;
  color: cs.$color-text-status-inactive;
  line-height: cs.$line-height-body-s;
}
.body {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  //max-height: 500px;
  height: calc(100vh - #{$footer-height} - #{$top-nav-height} - #{$drawer-header-height} - #{$drawer-footer-height});
  overflow-y: auto;
  padding-left: 28px;
  padding-right: 24px;
}
.container {
  // This offsets the margin from the drawer header
  margin-top: -20px;
  margin-right: -24px;
  margin-left: -28px;
  margin-bottom: -40px;
  position: relative;
  overflow-y: scroll;
}
.header {
  position: sticky;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px) saturate(1.2) brightness(0.97);
  z-index: 1;
  top: 0;
  padding: cs.$space-scaled-s cs.$space-scaled-l;
  border-bottom: 1px solid rgba(#b6bec9, 0.3);
}
.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(#b6bec9, 0.3);
  padding: cs.$space-scaled-s 16px cs.$space-scaled-s 28px;
}
.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: cs.$space-scaled-l 0;
}
.empty {
  display: flex;
  flex-direction: column;
  gap: cs.$space-scaled-s;
  text-align: center;
  color: cs.$color-text-empty;
}
.unreadBadgeWrapper {
  position: absolute;
  display: flex;
  left: 0;
  justify-content: end;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms ease-out;
  &.visible {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
    visibility: unset;
  }
}
.unreadBadge {
  border-radius: cs.$border-radius-button;
  overflow: hidden;
  box-shadow: cs.$shadow-container-active;
}