@use '@cloudscape-design/design-tokens' as cs;

$viewport-breakpoint-xs: 688px;
$border-radius: 16px;

.wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: cs.$color-background-input-disabled;
  margin-left: auto;
  margin-right: auto;
  &.fullscreen {
    border-radius: 0;
  }
  &:not(.fullscreen):after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 16px;
    box-shadow: inset 0 0 1px 1px hsla(0, 0%, 100%, .12);
    pointer-events: none;
  }
}

.player {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin hide-show {
  cursor: none;
  opacity: 0;
  transition: opacity cs.$motion-duration-responsive ease-out;
  &.visible {
    cursor: auto;
    opacity: 1;
  }
}

.iconButton {
  background: transparent;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: cs.$color-text-interactive-inverted-default;
  transition: all cs.$motion-duration-responsive cs.$motion-easing-responsive;
  line-height: 32px;
  &:hover {
    color: cs.$color-text-interactive-inverted-hover;
  }
}
.controls {
  @include hide-show;
  position: absolute;
  display: flex;
  padding-inline: $border-radius;
  bottom: 0;
  left: 0;
  right: 0;
}
.endControls {
  margin-inline-start: auto;
}
.overlay {
  @include hide-show;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.background {
  @include hide-show;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.65) 0%,   /* darkest at the very bottom */
      rgba(0, 0, 0, 0)   100%
  );
}

@media screen and (max-width: $viewport-breakpoint-xs) {
  .wrapper {
    border-radius: 0;
    // TODO: Not working
    position: sticky;
    top: 0;
    z-index: 500;
    margin: 0 -24px;
  }
}
