@use '@cloudscape-design/design-tokens' as cs;

$viewport-breakpoint-xs: 688px;

.wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: cs.$border-radius-container;
  overflow: hidden;
  background-color: cs.$color-background-input-disabled;
  &.fullscreen {
    border-radius: 0;
  }
}

.player {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: $viewport-breakpoint-xs) {
  .wrapper {
    border-radius: 0;
    // TODO: Not working
    position: sticky;
    top: 0;
    z-index: 500;
    margin: 0 -24px;
  }
}
