@use '@cloudscape-design/design-tokens' as cs;

$viewport-breakpoint-xs: 688px;

.container {
  padding: 16px 20px;
  border-radius: 16px;
  position: relative;
  border: 1px solid cs.$color-border-divider-default;
}
.player {
  border-radius: 16px;
  overflow: hidden;
  background-color: black;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  column-gap: cs.$space-scaled-xs;
}
.tags {
  display: flex;
  column-gap: cs.$space-scaled-xxs;
  flex-wrap: wrap;
}
.gameDetailsWrapper {
  width: 50%;
  min-width: 300px;
}
.gameDetailsWrapper * {
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
  }
}
@media screen and (max-width: $viewport-breakpoint-xs) {
  .player {
    border-radius: 0;
    // TODO: Not working
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    margin: 0 -24px;
  }
  .pageWrapper {
    padding: 0 20px 40px;
  }
}
.controlsPositioner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: cs.$space-scaled-s;
  overflow: hidden;
  text-align: center;
}
.controlsContainer {
  display: flex;
  align-items: center;
}
.icon {
  padding: cs.$space-scaled-xs cs.$space-scaled-s;
  color: cs.$color-text-body-secondary;
  transition: color 150ms;
  &:hover {
    color: cs.$color-text-interactive-hover;
  }
}