@use '@cloudscape-design/design-tokens' as cs;

$viewport-breakpoint-xs: 688px;

.container {
  padding: cs.$space-scaled-m cs.$space-container-horizontal;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  column-gap: cs.$space-scaled-xs;
}
.tags {
  display: flex;
  column-gap: cs.$space-scaled-xxs;
  flex-wrap: wrap;
}
.gameDetailsWrapper {
  width: 50%;
  min-width: 300px;
}
.gameDetailsWrapper * {
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
  }
}
.pageWrapper {
  border: 1px solid cs.$color-border-divider-default;
  border-radius: cs.$border-radius-container;
  background-color: cs.$color-background-container-content;
}
@media screen and (max-width: $viewport-breakpoint-xs) {
  .pageWrapper {
    padding: 0 20px 40px;
  }
}
.controlsPositioner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: cs.$space-scaled-s;
  overflow: hidden;
  text-align: center;
}
.controlsContainer {
  display: flex;
  align-items: center;
}
.icon {
  padding: cs.$space-scaled-xs cs.$space-scaled-s;
  color: cs.$color-text-body-secondary;
  transition: color 150ms;
  &:hover {
    color: cs.$color-text-interactive-hover;
  }
}