@use '@cloudscape-design/design-tokens' as cs;

$viewport-breakpoint-xs: 688px;

.content {
  padding-block: cs.$space-scaled-m;
}
.userName,
.userInfo {
  display: flex;
  align-items: center;
  column-gap: cs.$space-static-s;
  flex-wrap: nowrap;
}
.metadata,
.tags {
  display: flex;
  font-family: cs.$font-family-base;
  align-items: center;
  color: cs.$color-text-status-inactive;
  font-size: cs.$font-size-body-m;
  line-height: cs.$line-height-body-m;
}
.metadata {
  column-gap: cs.$space-static-l;
}
.tags {
  column-gap: cs.$space-static-xs;
}
@media screen and (max-width: $viewport-breakpoint-xs) {
  .container {
    padding: 0 20px 40px;
  }
}