@use '@cloudscape-design/design-tokens' as cs;

.wrapper {
  border-radius: calc(24px - #{cs.$space-scaled-s});
  overflow: hidden;
  cursor: pointer;
  background-color: cs.$color-background-input-disabled;
  box-shadow: 2px 4px 12px #00000014;
  transition: all 150ms ease-out;
  border: 1px solid cs.$color-border-divider-secondary;

  &:hover {
    box-shadow: 2px 4px 16px #00000029;
    transform: scale(1.01);
  }
}
a {
  text-decoration: none;
}
.contentWrapper {
  align-items: center;
  display: flex;
  column-gap: cs.$space-scaled-xs;
  padding: cs.$space-scaled-m;
}
.viewerCountWrapper {
  margin-left: auto;
  display: flex;
  align-items: start;
  color: cs.$color-text-body-secondary;
  font-size: cs.$font-size-body-s;
  line-height: cs.$line-height-body-s;
  font-family: cs.$font-family-base;
  .viewerCount {
    display: flex;
    align-items: center;
    column-gap: cs.$space-scaled-xxs;
  }
}
.streamTitle {
  a {
    color: cs.$color-text-body-default;
  }
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: cs.$line-height-heading-s;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}