@use '@cloudscape-design/design-tokens' as cs;

.wrapper {
  transition: background-color 0.16s ease-out;
  border-radius: cs.$border-radius-container;
  padding: cs.$space-scaled-s;

  &:hover, &:focus {
    background-color: cs.$color-background-input-disabled;
    //box-shadow: cs.$shadow-container-active;
  }
}
.mediaWrapper {
  border-radius: calc(#{cs.$border-radius-container} - #{cs.$space-scaled-s});
  overflow: hidden;
}
a {
  text-decoration: none;
}
.contentWrapper {
  align-items: start;
  display: flex;
  column-gap: cs.$space-scaled-xs;
  padding-top: cs.$space-scaled-s;
}
.ellipsisWrapper {
  margin-top: -6px;
  margin-right: -6px;
  margin-left: auto;
}
.viewerCountWrapper {
  margin-left: auto;
  display: flex;
  align-items: start;
  color: cs.$color-text-body-secondary;
  font-size: cs.$font-size-body-s;
  line-height: cs.$line-height-body-s;
  font-family: cs.$font-family-base;
  .viewerCount {
    display: flex;
    align-items: center;
    column-gap: cs.$space-scaled-xxs;
  }
}
.streamTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: cs.$line-height-heading-s;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}