@use '@cloudscape-design/design-tokens' as cs;

.container {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: cs.$color-background-container-content;
  height: cs.$space-scaled-xxxl;
  padding: 0 cs.$space-scaled-m;
  color: cs.$color-text-home-header-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    color: cs.$color-text-home-header-default;
    font-size: 12px !important;
  }
}