@use '@cloudscape-design/design-tokens' as cs;

.container {
  position: sticky;
  // Taken from AWS console
  z-index: 1002;
  bottom: 0;
  border-top: 1px solid cs.$color-border-divider-default;
  background-color: cs.$color-background-container-content;
  height: cs.$space-scaled-xxxl;
  padding: 0 cs.$space-scaled-m;
  color: cs.$color-text-home-header-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    color: cs.$color-text-home-header-default;
    font-size: 12px !important;
  }
}